<!DOCTYPE html>
<head>
<title>Hello Vue</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
                
    <form>
        <div class="form-group">
            <label for="fistname">First Name</label>
            <input type="text" id="fistname" class="from-control" placeholder="fistname" v-model="fromData.fistname">
            </div>
            <div class="form-group">
                    <label for="Lastname">Last Name</label>
                    <input type="text" id="lastname" class="from-control" placeholder="lastname" v-model="fromData.fistname">
                    </div>
        <button type="submit" class="btn btn-defult">submit</button>
                </form>
            
        
    </div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            fromData: {
                fistname: "vv",
                lastname: "vv"
            }
        }
    });
</script>

</html>